html, body {
	min-height: 100%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Monserrat', Arial, Helvetica, sans-serif;
	text-decoration: none;
}

body {
	background: #d2d2ec;
}

h1 {
	color: #e7e4ef;
	margin-top: 7em;
	font-size: 3em;
	/* font-family: 'Monserrat', Arial, Helvetica, sans-serif;*/
	font-weight: 800; 
	font-family: 'Plus Jakarta Sans', sans-serif;

}

/* MENU  - HEADER*/
.header{
	position: fixed; 
	background: #1a1917;
	padding: 1em 0em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 100;
}
	.header a{
		text-decoration: none;
	}

.logo{
	font-family: 'Berkshire Swash', cursive;
	font-size: 1.7em;
	display: inline-block;
	color: #d2d2ec;
	margin-left: 1.5em;
}
.logo:hover{
	color: #8f899c;
	transition-duration: 0.3s;
}

.menu-sup{
	justify-content: right;
	align-self: center;
	margin-right: 2em;
}
	.menu-sup ul {
		list-style: none;	
		display: inline-flex;
		justify-content: right;
	}
	.menu-sup a {
		text-decoration: none;
		color: #8f899c;
		margin: 2em;
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-weight:800;
		font-size: 0.9em;
		/* text-transform: uppercase; */
	}
	.menu-sup a:hover {
		color: #d2d2ec;
	}

	.menu-sup .logo{
		justify-content: left;
	}



/* MAIN */
.main {
	padding: 5em 2em 3em 5em;
	height: 40em;
	justify-content: center;
	color: #dfdde5;
	background-image: url("../img/tay.jpg");
	background-size: cover;
	/* background-repeat: no-repeat; */
	background-position: 0 -10em;
}	
	.main p {
		font-size: 1em;
		line-height: 2em;
		padding-top: 0.5em;
		padding-bottom: 1em;
		/* font-family: 'Montserrat', sans-serif; */
		font-family: 'Plus Jakarta Sans', sans-serif;		
	}


/* BOTONES */
.btn-main { 	
	transition: border-color 0.2s ease;
	/* background-color: transparent; */
	/* border: solid 1px; */
	background-color: #e7e4ef4b;
	border-radius: 3em;
	display: inline-block;
	height: calc(3em + 2px);
	outline: 0;
	padding: 0 3em;
	margin: 2em 1em 2em 0;
	text-align: center;
	text-decoration: none;
	/* text-transform: uppercase; */
	font-size: 0.9em;
	font-weight: bold;
	line-height: 3em;
	color: #e7e4ef;
}
	.btn-main:hover{
		/* color: #8f899c; */
		background-color: #3b3d5adf;
	}



/* MENU DISCOS */
#discografia h2{
	color: #e7e4ef;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 2.4em;
	padding-top: 1.5em;
	padding-left: 2em;
	font-weight: 800;
}

#contenedor-img{
	padding: 2em 8em 8em 10em;
	justify-content: center;
	margin: 0 auto;
}
.menu-discos {
	background-color: #25272b;
	align-items: center;
	justify-content: center;
}
	.menu-discos a{
		text-decoration: none;
	}

.div-discos {
	width: 10em;
	height: 11em;
	display: inline-block;
	justify-content: center;
	padding:2em 2em 3em 2em;
	background-color: transparent;
	border-radius: 0.5em;
	
}
	.div-discos:hover {
		background-color: #e8e8e81e;
		color: #dfdde5;
	}
	.div-discos p{
		padding-top:1.2em;
		margin: auto;
		justify-content: center;
		text-align: center;
		color: #8f899c;
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-weight:700;
		font-size: 0.9em;		
	}
	.cont-img{
		width: 10em;
		height: 10em;
		justify-content: center;
		align-self: center;
		background-size: cover;
	}
	#cd01{
		background-image: url("../img/albums/Ts1b.jpg");
	}
	#cd02{
		background-image: url("../img/albums/Ts2b.jpg");
	}
	#cd03{
		background-image: url("../img/albums/Ts3b.jpg");
	}
	#cd04{
		background-image: url("../img/albums/Ts4b.jpg");
	}
	#cd05{
		background-image: url("../img/albums/Ts5b.jpg");
	}
	#cd06{
		background-image: url("../img/albums/Ts6b.jpg");
	}
	#cd07{
		background-image: url("../img/albums/Ts7b.jpg");
	}
	#cd08{
		background-image: url("../img/albums/Ts8b.jpg");
	}
	#cd09{
		background-image: url("../img/albums/Ts9b.jpg");
	}
	#cd10{
		background-image: url("../img/albums/Ts10b.jpg");
	}
	
#album{
	position:relative;
	z-index: 10;
/* width: 100%; */
} 

/* DISCOS Y CANCIONES */
.discos{
	padding: 5em 5em;
	color: #3b3d5a;
	background-color: #ebebeb;
	position: absolute;
	/* width: 100%; */
}
	.album-titulo{
		color: #3b3d5a;
		/* font-family: 'Arima', cursive; */
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-size: 2em;
	}
	.discos-p{
		text-decoration: none;
		list-style: none;
		line-height: 1.5em;
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-size: 0.9em;
		display: block;
		padding-top: 2em;
		margin-left: 8em;
	}


/* FOOTER */
.footer{
	justify-content: center;
	color:#3b3d5a;
	margin: 1.5em 5em;
	
}
.footer p{
	text-align: right;
	letter-spacing: 1px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 0.7em;
	font-weight: 400;
}

.div_hide {
	display: none;
}
